{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 my-auto">
                <h2 class="text-uppercase">
                    fitness first - your new way of working out</h2>   
            </div>
        </div>
    </div>
{% endblock %}      