{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 my-auto">
                <h2 class="text-black text-uppercase">Try a One Day trial for free today!</h2>   
                <div class="view-plans-button btn btn-large text-uppercase">View Plans</div>
            </div>
        </div>
    </div>
{% endblock %}      