body {
    background: url('/media/homepage1.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    font-family: Oxygen;
}

.view-plans-button {
    background: green-700;
    color: white;
    min-width: 200px;
}

.view-plans-button:hover,
.view-plans-button:active,
.view-plans-button:focus {
    background: green-700;
    color: white;
}

.overlay {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: rgb(240, 240, 240);
}

.title-font {
    color: green-700;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 200px;
    }
}