{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/subscriptions.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h1 class="logo-font mb-4">Subscription</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 order-lg-last mb-5">
                <p>Subscription Summary</p>
                <div class="row">
                    <div class="col-12">
                        <p class="mb-1 mt-0 small">Fitness First Programme</p>
                    </div>
                </div>
                
            
                <hr class="my-0">
                <div class="row text-right">
                    <div class="col-12">
                        <p class="my-0">Subscription Total:</p>
                    <div class="col-12">
                        <p class="my-0">${{ subscription_total | floatformat:2 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <form action="{% url 'subscriptions' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small px-2 w-auto">Details</legend>
                        {{ Subscription_form.full_name | as_crispy_field }}
                        {{ Subscription_form.email | as_crispy_field }}
                        {{ Subscription_form.age | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        
                        <div class="form-check form-check-inline mr-0">
							{% if user.is_authenticated %}
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
						</div>
                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element">
                        </div>

                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert">
                        </div>

                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="submit-button mt-5 mb-2">                    
						
						<button id="submit-button" class="btn rounded-0">
							<span class="font-weight-bold">Confirm Subscription</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>$6.99 per week</strong></span>
						</p>
					</div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'subscriptions/js/stripe_elements.js' %}"></script>
{% endblock %}