<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="title-font font-weight-bold nav-link text-green mr-5" href="#" id="plans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Explore Our Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plans-link">
                <a href="" class="dropdown-item">Build Muscle</a>
                <a href="" class="dropdown-item ">Get Fit & Toned</a>
                <a href="" class="dropdown-item ">Lose Weight</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="title-font font-weight-bold nav-link text-black mr-5" href="#" id="membership-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Membership Options
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="membership-link">
                <a href="" class="dropdown-item">Weekly</a>
            </div>
        </li>
    </ul>
</div>