<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="title-font font-weight-bold nav-link mr-5" href="#" id="plans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Explore Our Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plans-link">
                <a href="{% url 'build_muscle' %}" class="dropdown-item">Build Muscle</a>
                <a href="{% url 'get_lean' %}" class="dropdown-item ">Get Lean & Toned</a>
                <a href="{% url 'lose_weight' %}" class="dropdown-item ">Lose Weight</a>
            </div>
        </li>

        <li class="nav-item">
            <a href="{% url 'membership' %}" class="title-font font-weight-bold nav-link mr-5">
                Membership Options
            </a>
        </li>
    </ul>
</div>