{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container title-font">
        <div class="row">
            <div class="col">
                <h2>Build Muscle</h2>
            </div>
        </div>
        <div class="row">
            <div class="workout-container">
                <div class="col-12 col-lg-6">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Workout description, time to complete and equipment needed.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Step 1</li>
                            <li class="list-group-item">Step 2</li>
                            <li class="list-group-item">Step 3</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Link to a youtube video of the workout</a>
                            <button id="checkout-button">Register for full access to this programme</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 