{% block content %}
    

<!---Meals-->
<div class="container title-font">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Breakfast</h1>
                <h4>PBJ Oats</h4>
                <h4>Ingredients:</h4>
                <ul class="list-group">
                    <li class="list-group-item">250ml Milk of your choice.</li>
                    <li class="list-group-item">1 Banana /chopped</li>
                    <li class="list-group-item">20g Peanut Butter</li>
                    <li class="list-group-item">1tsp Jam</li>                    
                    <li class="list-group-item">50g Oats</li>  
                </ul>
                <h4>Instructions:</h4>
                <ul class="list-group">
                    <li class="list-group-item">Add oats and milk to saucepan and boil until.</li>
                    <li class="list-group-item">Add Peanut Butter and simmer.</li>
                    <li class="list-group-item">Add to Serving bowl and top with banana and jam.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h1>Lunch</h1>
                <h4>Greek Bean Salad</h4>
                <h4>Ingredients:</h4>
                <ul class="list-group">
                    <li class="list-group-item">1 Cucumber /chopped</li>
                    <li class="list-group-item">1 Green Bell Pepper /diced</li>
                    <li class="list-group-item">1/4 Red Onion /diced</li>
                    <li class="list-group-item">14oz can of Cannelini Beans</li>
                    <li class="list-group-item">30g of Olives</li>
                    <li class="list-group-item">75g Feta /crumbled</li>
                    <li class="list-group-item">75g Cherry Tomatoes</li>
                    <li class="list-group-item">Olive Oil</li>
                    <li class="list-group-item">1/2tsp Oregano</li>
                    <li class="list-group-item">Salt & Pepper</li>
                </ul>
                <h4>Instructions:</h4>
                <ul class="list-group">
                    <li class="list-group-item">Mix oil, oregano, salt and pepper.</li>
                    <li class="list-group-item">Add tomatoes, pepper, cucumber, onion and beans and mix well.</li>
                    <li class="list-group-item">Add to serving bowl and top with olives and feta.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h1>Dinner</h1>
                <h4>Lamb Roast Chops</h4>
                <h4>Ingredients:</h4>
                <ul class="list-group">
                    <li class="list-group-item">Garlic</li>
                    <li class="list-group-item">Rosemary</li>
                    <li class="list-group-item">Olive Oil</li>
                    <li class="list-group-item">Lemon</li>
                    <li class="list-group-item">Salt & Pepper</li>
                    <li class="list-group-item">200g Lamb Chop</li>
                    <li class="list-group-item">600g Potatoes</li>
                    <li class="list-group-item">1 Zucchini</li>
                    <li class="list-group-item">100g Cherry Tomatoes</li>
                </ul>
                <h4>Instructions:</h4>
                <ul class="list-group">
                    <li class="list-group-item">Pre-heat oven at 390F</li>
                    <li class="list-group-item">Mix together oil, rosemary, garlic, lemon, salt and pepper. Add lamb, potatoes and zucchini and toss to coat. Add to baking tray and roast for 20minutes.</li>
                    <li class="list-group-item">Place tomatoes on the tray and roast for another 5 minutes.</li>
                    <li class="list-group-item">Remove from the oven and serve.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h1>Snacks</h1>
                <h4>PB & Banana Super Smoothie</h4>
                <h4>Ingredients:</h4>
                <ul class="list-group">
                    <li class="list-group-item">250ml Milk of your choice</li>
                    <li class="list-group-item">30g Protein Powder</li>
                    <li class="list-group-item">3tsp of Peanut Butter</li>
                    <li class="list-group-item">1 Banana</li>
                </ul>
                <h4>Instructions:</h4>
                <ul class="list-group">
                    <li class="list-group-item">Blend all ingredients together and enjoy.</li>
                </ul>
            </div>
        </div>
 

{% endblock %} 