{% block content %}
   
<!---Meals-->
    <div class="container title-font">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Breakfast - Raspberry Coconut Smoothie</h2>
                <h4>Ingredients:</h4>
                <ul class="list-group">
                    <li class="list-group-item">350ml Coconut Water.</li>
                    <li class="list-group-item">125g Coconut Yoghurt.</li>
                    <li class="list-group-item">40g Protein Powder.</li>
                    <li class="list-group-item">1 Banana.</li>                    
                    <li class="list-group-item">100g Raspberries.</li>  
                </ul>
                <h4>Instructions:</h4>
                <ul class="list-group">
                    <li class="list-group-item">Blend all the ingredients together.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h2>Lunch - Greek Bean Salad</h2>
                <h4>Ingredients:</h4>
                <ul class="list-group">
                    <li class="list-group-item">1 Cucumber /chopped</li>
                    <li class="list-group-item">1 Green Bell Pepper /diced</li>
                    <li class="list-group-item">1/4 Red Onion /diced</li>
                    <li class="list-group-item">14oz can of Cannelini Beans</li>
                    <li class="list-group-item">30g of Olives</li>
                    <li class="list-group-item">75g Feta /crumbled</li>
                    <li class="list-group-item">75g Cherry Tomatoes</li>
                    <li class="list-group-item">Olive Oil</li>
                    <li class="list-group-item">1/2tsp Oregano</li>
                    <li class="list-group-item">Salt & Pepper</li>
                </ul>
                <h4>Instructions:</h4>
                <ul class="list-group">
                    <li class="list-group-item">Mix oil, oregano, salt and pepper.</li>
                    <li class="list-group-item">Add tomatoes, pepper, cucumber, onion and beans and mix well.</li>
                    <li class="list-group-item">Add to serving bowl and top with olives and feta.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h2>Dinner - Baked Salmon with Kale</h2>
                <h4>Ingredients:</h4>
                <ul class="list-group">
                    <li class="list-group-item">14oz Kale</li>
                    <li class="list-group-item">Rosemary</li>
                    <li class="list-group-item">Olive Oil</li>
                    <li class="list-group-item">Lemon Juice</li>
                    <li class="list-group-item">Salt & Pepper</li>
                    <li class="list-group-item">225g Salmon Fillets</li>
                    <li class="list-group-item">200g Microwave Brown Rice</li>
                </ul>
                <h4>Instructions:</h4>
                <ul class="list-group">
                    <li class="list-group-item">Pre-heat oven at 320F</li>
                    <li class="list-group-item">Place salmon on a sheet of tin foil on a baking tray, top with lemon juice.</li>
                    <li class="list-group-item">Add kale, salt and pepper. Seal the foil and then bake for 15-20minutes.</li>
                    <li class="list-group-item">Serve salmon and kale over the rice and drizzle any remaining juice and serve.</li>
                </ul>
            </div>
        </div>

{% endblock %} 