{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

<!---Workouts-->
{% block content %}
    <div class="container title-font">
        <div class="row text-center">
            <div class="col-12">
                <h1>Build Muscle</h1>
                <p>This plan is specifically target to those customers who wish to put on muscle mass, size and weight. The heavy lifting and low repititions of the workouts combined with the large amount of daily calories in the meal plan with help the customer build bigger stronger muscles.</p>
            </div>
        
        
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <a href="https://www.youtube.com/watch?v=95846CBGU0M" class="card-link">Click here to view the workout</a>
                        <hr>
                        <a href="{% url 'subscriptions' %}" class="join-button btn btn-large text-uppercase">Register for full access to this programme</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!---Meals-->
{% include 'meals/build_muscle_mealplan.html' %}

{% endblock %} 