{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

<!---Workouts-->
{% block content %}
  <div class="container title-font">
        <div class="row text-center">
            <div class="col-12">
                <h1>Get Lean & Toned</h1>
                <p>This plan is specifically target to those customers who wish to get stronger and fitter without putting on much in way of size. This plan would be useful for athletes or users who play or take part in aerobic activities such as football, basketball, swimming etc. The workouts involve a variety of weight training, plyometrics and cardio excercises to ensure the participant gets the most beneficial workouts for their desired need.</p>
            </div>
        
        
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <a href="https://www.youtube.com/watch?v=oPRou79HEfM" class="card-link">Click here to view the workout</a>
                        <hr>
                        <a href="{% url 'subscriptions' %}" class="join-button btn btn-large text-uppercase">Register for full access to this programme</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!---Meals-->
{% include 'meals/get_lean_mealplan.html' %}

{% endblock %} 