{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

<!---Workouts-->
{% block content %}
    <div class="container title-font">
        <div class="row text-center">
            <div class="col-12">
                <h1>Lose Weight</h1>
                <p>This programme is specifcally designed for those who wish to lose weight. The meals are lighter in carbohydrates and high in protein. A lot of the workouts will involve cardio activities to ensure the particapant remains in a calorie deficit allowing them to reach their goal.</p>
            </div>
        
        
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <a href="https://www.youtube.com/watch?v=jzUpUe29lXI" class="card-link">Click here to view the workout</a>
                        <hr>
                        <a href="{% url 'subscriptions' %}" class="join-button btn btn-large text-uppercase">Register for full access to this programme</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!---Meals-->
{% include 'meals/lose_weight_mealplan.html' %}

{% endblock %} 