{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

<!---Title-->
{% block content %}
    <div class="container title-font">
        <div class="row">
            <div class="col">
                <h1>Our Membership</h1>
                <div class="join-button btn btn-large text-uppercase">
                    <a href="{% url 'subscriptions' %}">Join here for only $6.99 a week</a>
                </div>
            </div>
        </div>
    </div>

<!---Info-->
    <div class="container title-font">
        <div class="row">
            <div class="col">
                <h2>What We Do</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in gravida velit. Aliquam sollicitudin, justo vitae rutrum interdum, leo mauris consectetur ligula, molestie eleifend magna dui vel leo. Aliquam a vestibulum libero. Aliquam id eleifend lacus. Praesent in lectus placerat velit interdum tincidunt. Maecenas aliquet sapien elementum convallis pretium. Nulla rutrum quis diam vel consectetur. Curabitur tristique sollicitudin justo, vel pretium leo rutrum nec. Morbi justo lorem, interdum a metus tincidunt, pharetra suscipit nunc.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Why Join Us?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in gravida velit. Aliquam sollicitudin, justo vitae rutrum interdum, leo mauris consectetur ligula, molestie eleifend magna dui vel leo. Aliquam a vestibulum libero. Aliquam id eleifend lacus. Praesent in lectus placerat velit interdum tincidunt. Maecenas aliquet sapien elementum convallis pretium. Nulla rutrum quis diam vel consectetur. Curabitur tristique sollicitudin justo, vel pretium leo rutrum nec. Morbi justo lorem, interdum a metus tincidunt, pharetra suscipit nunc.</p>
            </div>
        </div>
    </div>


{% endblock %} 